[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Bayenet"]
	path = Bayenet
	url = https://github.com/xilustat/bayenet
[submodule "marble"]
	path = marble
	url = https://github.com/xilustat/marble
